<secton class="card comment-card p-3 pt-4 ps-4 mb-2">
    <p>{{content}}</p>
    <footer class="comment-footer d-flex flex-row justify-content-end">
        <p class="fst-italic">
            <span class="fst-normal fw-bolder">{{user.username}} </span>
            commented on
            {{format_date date_created}}
        </p>
    </footer>
</secton>