<section class="container mx-auto p-5">
    <header class="p-3 ms-3">
        <h2>Welcome {{user.username}}</h2>
        <p>This is your dashboard. From here you can create new blog posts, update past posts, and view your recent comments.</p>
    </header>
    <section id="create-new-post-section" class="container ms-3 mb-4">
        <form id="new-post-form">
            <h2>Make a New Post</h2>
            <div class="form-floating mb-3">
                <input type="text" id="post-title" class="form-control" placeholder="Post title goes here">
                <label for="post-title">Title</label>
            </div>
            <div class="form-floating mb-3">
                <textarea id="post-textarea" class="form-control" placeholder="Post body goes here" style="height: 200px"></textarea>
                <label for="post-textarea">Content</label>
            </div>
            <input type="submit" class="btn btn-lg btn-primary new-post-button ms-2"></form>
            </div>
        </form>

    </section>
    <section id="dashboard-blog-posts" class="container">
        <h2 class="ms-3">Update Old Posts</h2>
    {{#if posts}}
    {{#each posts as |post|}}
        {{> dashboard-post-details}}
    {{/each}}
    {{else}}
    <h3>You have not created any blog posts.</h3>
    {{/if}}

    </section>
</section>
<script src="/js/dashboard.js"></script>