<section class="container">
    {{>update-post-details}}
    <section class="container">
        <form id="add-comment-form" class="d-none">
            <div>
            <div class="form-floating">
                <textarea id="comment-textarea" class="form-control" placeholder="Leave a comment here" style="height: 200px"></textarea>
                <label for="comment-textarea">New Comment</label>
            </div>
            <input type="submit" class="comments-button comment-submit btn btn-warning"></form>
            </div>
        </form>
    </section>
    <section id="comment-section" class="container">
        <h2 class="mx-3">Comments:</h2>
        {{#each comments as |comment|}}
            {{> comment-details}}
        {{/each}}
    </section>
</section>
{{#if loggedIn}}
<script src="/js/comments.js"></script>
{{/if}}